<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Approval Request {{giftID}} : [Gift & Hospitality]</title>
    </head>
    <body style="margin:0; padding:0; font-family: Arial, sans-serif; color: #333;">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding-top: 20px;">
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="padding: 20px;">
                                <p style="margin: 0;">Dear {{approver}},</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px;padding-left: 40px;">
                                <p style="margin: 0;">I hope this message finds you well.</p>
                                <p style="margin: 0;margin-top: 7px;">
                                    We wanted to inform you that <strong>{{requestor}}</strong> has submitted a new gift form for approval. As part of 
                                    the approval sequence, your review and approval are required.
                                </p>
                                <p style="margin: 0;margin-top: 7px;">Details of the Gift Submission:</p>
                                <ul style="font-weight: bold;font-size: 14px;">
                                    <li>
                                        <span style="display:inline-block;min-width: 130px;">GIFT ID</span> 
                                        <span style="font-weight: normal;"> : {{giftID}}</span>
                                    </li>
                                    <li>
                                        <span style="display:inline-block;min-width: 130px;">SUBMITTED BY</span>      
                                        <span style="font-weight: normal;"> : {{requestorEmail}}</span>
                                    </li>
                                    <li>
                                        <span style="display:inline-block;min-width: 130px;">GIFT AMOUNT</span>         
                                        <span style="font-weight: normal;"> : {{giftAmount}}</span>
                                    </li>
                                </ul>
                                <p style="margin-top: 30px;font-size: small;color: gray;">Please review the details of the submission carefully and proceed with the approval process.</p>
                                <p style="margin: 0;">What You Need to Do:</p>
                                <ol style="font-size: 14px;">
                                    <li>
                                        <span>Click on the link below to access the gift submission details.</span> 
                                    </li>
                                    <li style="margin-top: 5px;">
                                        <span >Review the information provided in the form.</span>
                                    </li>
                                    <li style="margin-top: 5px;">
                                        <span>Approve or reject the submission based on the company's gift and hospitality policy.</span>
                                    </li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px;padding-top: 5px;">
                                <p style="margin: 0%;">Best Regards,</p>
                                <p style="margin: 0%;">Team Seatrium</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px;">
                                <p style="color: gray; font-size: 12px; margin: 0;">
                                    This email has been automatically generated by our system to authorize the user account. Please note that this is a system-generated message and the email address used to send this message is not monitored. Replies to this email will not be received or responded to.
                                </p>
                                <p style="color: gray; font-size: 12px; margin: 0; margin-top: 10px;">
                                    If you have any questions or need further assistance, please contact our support team through the appropriate channels.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px;">
                                <ul style="font-weight: bold; padding-left: 20px; margin: 0;">
                                    <li>Customer Support: <span style="font-weight: normal;">support.seatriumdigital@seatrium.com</span></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>